In [10]:
import pandas as pd

In [11]:
#reading csv file
df = pd.read_csv('/content/Test CSV 1 - PS4.csv', encoding='utf8')

In [15]:
# adding ps4 game console column before joining with xbox
df['Game_Console'] = 'PS4'
df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Game_Console
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94,PS4
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40,PS4
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80,PS4

In [13]:
df1 = pd.read_csv('/content/Test CSV 2 - Xbox One.csv', encoding='utf8')

In [16]:
# adding xbox one game console column before joining with ps4
df1['Game_Console'] = 'Xbox One'
df1.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Game_Console
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72,Xbox One
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37,Xbox One
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23,Xbox One
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77,Xbox One
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43,Xbox One

In [37]:
#outer joining to return all values from csv1 and csv2
#suffixes used to differentiate xbox columns from ps4 columns
DF_A = df.merge(df1, on=('Game', 'Year', 'Genre', 'Publisher'), how='outer', suffixes=('_ps4', '_xboxone'))
DF_A.head()

,Game,Year,Genre,Publisher,North America_ps4,Europe_ps4,Japan_ps4,Rest of World_ps4,Global_ps4,Game_Console_ps4,Pos,North America_xboxone,Europe_xboxone,Japan_xboxone,Rest of World_xboxone,Global_xboxone,Game_Console_xboxone
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,1.0,4.70,3.25,0.01,0.76,8.72,Xbox One
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4,2.0,4.63,2.04,0.02,0.68,7.37,Xbox One
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94,PS4,4.0,3.76,1.47,0.00,0.54,5.77,Xbox One
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40,PS4,3.0,3.75,1.91,0.00,0.57,6.23,Xbox One
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80,PS4,20.0,0.98,1.92,0.00,0.23,3.14,Xbox One

In [32]:
df2 = pd.read_csv('/content/Test CSV 3 - All Platforms.csv', encoding='utf8')
df2.shape

(16719, 16)

In [33]:
df2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#fill nan with 0 to not lose other important information
df2.fillna(0)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,0,0
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,0,0
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,0,0

In [34]:
#grouping by name and release year to perform multiple additions on all sales data and critic/user count, and averages on critic/user score
DF_B = df2.groupby(['Name','Year_of_Release']).agg({'NA_Sales': 'sum', 'EU_Sales' : 'sum', 'JP_Sales' : 'sum', 'Other_Sales' : 'sum', 'Global_Sales' : 'sum', 'Critic_Score' : 'mean', 'Critic_Count' : 'sum', 'User_Score' : 'mean', 'User_Count' : 'sum'})
DF_B.shape

(12198, 9)

In [42]:
#groupby changed Name and Year_of_Release from columns to to indexes 
DF_B.reset_index(inplace=True) #change index to column for easier merge
DF_B.head(10)

,Name,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,Beyblade Burst,2016.0,0.00,0.00,0.03,0.00,0.03,NaN,0.0,NaN,0.0
1,Fire Emblem Fates,2015.0,0.81,0.23,0.52,0.11,1.68,NaN,0.0,NaN,0.0
2,Frozen: Olaf's Quest,2013.0,0.48,0.53,0.00,0.09,1.12,NaN,0.0,NaN,0.0
3,Haikyu!! Cross Team Match!,2016.0,0.00,0.00,0.04,0.00,0.04,NaN,0.0,NaN,0.0
4,'98 Koshien,1998.0,0.15,0.10,0.12,0.03,0.41,NaN,0.0,NaN,0.0
5,.hack//G.U. Vol.1//Rebirth,2006.0,0.00,0.00,0.17,0.00,0.17,NaN,0.0,NaN,0.0
6,.hack//G.U. Vol.2//Reminisce,2006.0,0.11,0.09,0.00,0.03,0.23,NaN,0.0,NaN,0.0
7,.hack//G.U. Vol.2//Reminisce (jp sales),2006.0,0.00,0.00,0.16,0.00,0.16,NaN,0.0,NaN,0.0
8,.hack//G.U. Vol.3//Redemption,2007.0,0.00,0.00,0.17,0.00,0.17,NaN,0.0,NaN,0.0
9,.hack//Infection Part 1,2002.0,0.49,0.38,0.26,0.13,1.27,75.0,35.0,8.5,60.0

In [46]:
#inner joining to show games only in both DF_B and DF_A
DF_C = DF_A.merge(DF_B, left_on='Game', right_on='Name', suffixes=('', '_all'))
DF_C.shape

(559, 28)

In [48]:
DF_C.head()

,Game,Year,Genre,Publisher,North America_ps4,Europe_ps4,Japan_ps4,Rest of World_ps4,Global_ps4,Game_Console_ps4,...,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,...,2013.0,16.68,14.23,1.04,5.37,37.31,97.000000,108.0,8.15,7705.0
1,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,...,2014.0,6.77,8.50,0.38,2.44,18.09,97.000000,80.0,8.10,3663.0
2,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,...,2015.0,0.39,0.69,0.00,0.09,1.17,96.000000,57.0,7.90,3756.0
3,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4,...,2015.0,12.25,9.49,0.44,3.49,25.68,NaN,0.0,NaN,0.0
4,FIFA 17,2016.0,Sports,Electronic Arts,1.26,7.95,0.12,1.61,10.94,PS4,...,2016.0,1.21,8.74,0.11,1.42,11.47,84.333333,103.0,3.94,803.0

In [55]:
#POGS = percentage of global sales
DF_C['POGS_ps4'] = (DF_C['Global_ps4'] / DF_C['Global_Sales']) * 100
DF_C['POGS_xboxone'] = (DF_C['Global_xboxone'] / DF_C['Global_Sales']) * 100
DF_C.head()

,Game,Year,Genre,Publisher,North America_ps4,Europe_ps4,Japan_ps4,Rest of World_ps4,Global_ps4,Game_Console_ps4,...,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,POGS_ps4,POGS_xboxone
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,...,14.23,1.04,5.37,37.31,97.000000,108.0,8.15,7705.0,51.969981,23.371750
1,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,...,8.50,0.38,2.44,18.09,97.000000,80.0,8.10,3663.0,107.186291,48.203427
2,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4,...,0.69,0.00,0.09,1.17,96.000000,57.0,7.90,3756.0,1657.264957,745.299145
3,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4,...,9.49,0.44,3.49,25.68,NaN,0.0,NaN,0.0,58.761682,28.699377
4,FIFA 17,2016.0,Sports,Electronic Arts,1.26,7.95,0.12,1.61,10.94,PS4,...,8.74,0.11,1.42,11.47,84.333333,103.0,3.94,803.0,95.379250,32.345248